.container-productos {
	display: grid;
	gap: 1rem;
	grid-auto-rows: 20rem;
	grid-template-columns: repeat(auto-fill,minmax(10.5rem,1fr));
}
.card-background {
	background-color: white;
	border-radius: 1rem;
	overflow: hidden;
}
.content-products-background {
	background-color: #eeeeee!Important;
}
.titulo-producto {
	font-size: 1rem!Important;
}
.m-56 {
	margin-top: 30px!Important;
}